FFMPEG_PATH=C:\ffmpeg\bin\ffmpeg.exe
FFPROBE_PATH=C:\ffmpeg\bin\ffprobe.exe
WHISPER_COMMAND_PATH=${LOCALAPPDATA}\Python\pythoncore-3.14-64\Scripts\whisper.exe
WEB_UI_HOST=127.0.0.1
WEB_UI_PORT=3000
WEB_UI_WORKSPACE_ROOT=.tmp-web-ui
